body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    margin: 10px;
    gap: 5px;
    height: 800px;
    width: 1600px;
}
#parrafo1{
height: 200px;
width: 200px;
}
#parrafo2{
height: 200px;
width: 200px;
}
#parrafo3{
height: 200px;
width: 200px;
}
#parrafo4{
height: 200px;
width: 200px;
}
#cuadrado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 20px solid black;
}