body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 800px;
    margin: 10px;
    border: 10px;
    gap: 10px;

}
#titulo{
    
}

#ele1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 10px solid black;
}

#ele2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 10px solid black;
}

#ele3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: 10px;
    border: 10px solid black;
}